body {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.top{
	position: absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 30%;
	background-color: rgba(0,255,78,.3);
	& h2,p{
		text-align:center;
	}
	& ul {
		padding: 0;
		text-align: center;
		& li{
			list-style: none;
			display: inline-block;
			width: 70px;
			height: 30px;
			line-height: 30px;
			margin: 0;
			border-radius: 5px;
			cursor: pointer;
			color: #fff;
			background-color: #ccc;
		}
		& .selected{
			background-color: black;
		}
		
	}
	& input[type="range"]::-webkit-slider-thumb{
		-webkit-appearance: none;
		height: 12px;
		width: 12px;
		background-color: #fff;
		border-radius: 100%;
	}
}
.left{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 25%;
	background-color: #777;
	overflow: auto;
	& ul{
		padding: 0;
		& li{
			list-style: none;
			cursor: pointer;
			line-height: 30px;
			color: #fff;
			font-size: 20px;
			margin: 0 auto;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;
		}
		& .selected{
			background-color: green;
		}
	}
}
.right{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 75%;
	height: 70%;
	background-color: #000;
}

a {
  color: #00B7FF;
}
