
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476106239'); /* IE9*/
  src: url('iconfont.eot?t=1476106239#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476106239') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476106239') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476106239#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gongzhonghao:before { content: "\e62d"; }
.icon-appxiazai:before { content: "\e601"; }
.icon-yijianfankui:before { content: "\e636"; }
.icon-fanhuidingbu:before { content: "\e605"; }
