/* h5_loading.scss文件 */
body{
	position: fixed;
	width: 100%;
	height: 100%;
}
.loading{
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	margin-top: 50%;
	& .double-bounce1{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #1941D6;
		-webkit-animation: bounce1 2s infinite ease-in-out 0s
	}
	& .double-bounce2{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #1941D6;
		-webkit-animation: bounce2 2s infinite ease-in-out 0s;
	}
	@-webkit-keyframes bounce1{
		0%,100%{
			-webkit-transform: scale(0);
		}
		50%{
			-webkit-transform: scale(1);
		}
	}
	@-webkit-keyframes bounce2{
		0%,100%{
			-webkit-transform: scale(1);
		}
		50%{
			-webkit-transform: scale(0);
		}
	}
	& .rate{
		position: absolute;
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		color: #fff;
		top: 110%;
	    left: 50%;
	    transform: translateX(-50%)
	}

}