/*基本图表（折线图）组件样式*/
@import 'mixin';
.h5_component_polyline{
    & canvas{
        position: absolute;
        width:100%;
        height: 100%;
    }
}
.h5_component_polyline .text{
    position: absolute;
    font-size: 12px;
    font-family: Microsoft Yahei;
    color:rgba(21,206,48,.8);
    text-align: center;
    height: 20px;
    line-height: 20px;
    bottom: -20px;
    @include transform(scale(.8));
    opacity: 0;
    @include transition(all 1s ease .8s);
}
.h5_component_polyline_detail_arrive .text{
    opacity: 1;
    
}
.h5_component_polyline_detail_leave .text{
    opacity: 0;
    
}