/*基本图表（柱状图）组件样式*/
@import 'mixin';
.h5_component_bar{
    & .line{
        font-size: 14px;
        margin-bottom: 25px;
        height: 15px;
        line-height: 15px;
        & .name{
            min-width:70px;
            height: 20px;
            line-height: 20px;
            float: left;
            text-align: left;
            color:rgba(82,33,33,.8);
            font-family: Microsoft Yahei;
            position: absolute;
            left: -70px;
        }
        & .process{
            height: 20px;
            margin-left: 5px;
            float: left;
            position: relative;
            & .bg{
                background-color: #99c0ff;
                width: 0%;
                height: 100%;
                position:absolute;
                left: 0;
                top: 0;
            }
        }
        & .rate{
            min-width: 20px;
            height: 20px;
            line-height: 20px;
            color: #0DC331;
            margin-left: 5px;
            float: left;
            position: absolute;
            right: -20px;
            opacity: 0;
        }
    }
}
.h5_component_bar_detail_arrive{
    & .line{
        & .process{
            & .bg{
                /*任何属性的改变都会具有1秒的过渡效果*/
                @include transition(all 1.5s ease .5s);
                width: 100%;
            }
        }
        & .rate{
            @include transition(all 1s ease 2s);
            @include opacity(1);
        }
    }
    
}
.h5_component_bar_detail_leave{
    & .line{
        & .process{
            & .bg{
                /* 任何属性的改变都会具有1秒的过渡效果 */
                @include transition(all 1s ease);
                width: 0%;
            }
        }
        & .rate{
            @include transition(all 1s);
            @include opacity(0);
        }
    }
    
}