*{
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
}
.box{
	position: absolute;
	padding: 15px 0 0 15px;
	float: left;
	& .image{
		border: 1px solid #ccc;
		border-radius: 5px;
		box-shadow:  0 0 2px #888888;
		width: 226px;
	}
}
